/* styles.css */
.large-char {
    font-size: 20px;
    /* Increase the font size to 24 pixels */
}
.title{
    font-size: 48px;
    font-style: italic;
    font-weight: Bold;
   margin-right: 400px;

   
}
.container {
    
    display: flex;
    /* Use flexbox layout */
    justify-content: center;
    /* Center items horizontally */
   align-items: center;
    /* Center items vertically (optional) */
    height: 20vh;
    /* Set container height to full viewport height */
}
.border {
    border: 1px solid black;
    padding: 10px;
}
.board-row {
    display: flex;
}
.flex-box-center{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.game{
    justify-content: center;
}
.container2{
          
              justify-items:right;
              margin-left:32%;
                /* Align items both horizontally and vertically */
                height: 20vh;
                /* Set the container height to the full viewport height */
                color: blue;
}